个人代码学习/智能日历/backend/wsdl/Services.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types" targetNamespace="http://schemas.microsoft.com/exchange/services/2006/messages">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/exchange/services/2006/types">
            <s:include schemaLocation="types.xsd"/>
        </s:schema>
        <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/exchange/services/2006/messages">
            <s:include schemaLocation="messages.xsd"/>
        </s:schema>
    </wsdl:types>

    <wsdl:message name="FindFolderSoapIn">
        <wsdl:part name="request" element="tns:FindFolder"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="FindFolderSoapOut">
        <wsdl:part name="FindFolderResult" element="tns:FindFolderResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="FindItemSoapIn">
        <wsdl:part name="request" element="tns:FindItem"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="FindItemSoapOut">
        <wsdl:part name="FindItemResult" element="tns:FindItemResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="GetFolderSoapIn">
        <wsdl:part name="request" element="tns:GetFolder"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="GetFolderSoapOut">
        <wsdl:part name="GetFolderResult" element="tns:GetFolderResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="CreateFolderSoapIn">
        <wsdl:part name="request" element="tns:CreateFolder"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="CreateFolderSoapOut">
        <wsdl:part name="CreateFolderResult" element="tns:CreateFolderResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="DeleteFolderSoapIn">
        <wsdl:part name="request" element="tns:DeleteFolder"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="DeleteFolderSoapOut">
        <wsdl:part name="DeleteFolderResult" element="tns:DeleteFolderResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="UpdateFolderSoapIn">
        <wsdl:part name="request" element="tns:UpdateFolder"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="UpdateFolderSoapOut">
        <wsdl:part name="UpdateFolderResult" element="tns:UpdateFolderResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="MoveFolderSoapIn">
        <wsdl:part name="request" element="tns:MoveFolder"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="MoveFolderSoapOut">
        <wsdl:part name="MoveFolderResult" element="tns:MoveFolderResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="CopyFolderSoapIn">
        <wsdl:part name="request" element="tns:CopyFolder"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="CopyFolderSoapOut">
        <wsdl:part name="CopyFolderResult" element="tns:CopyFolderResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="CreateManagedFolderSoapIn">
        <wsdl:part name="request" element="tns:CreateManagedFolder"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="CreateManagedFolderSoapOut">
        <wsdl:part name="CreateManagedFolderResult" element="tns:CreateManagedFolderResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="GetItemSoapIn">
        <wsdl:part name="request" element="tns:GetItem"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="GetItemSoapOut">
        <wsdl:part name="GetItemResult" element="tns:GetItemResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="CreateItemSoapIn">
        <wsdl:part name="request" element="tns:CreateItem"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="CreateItemSoapOut">
        <wsdl:part name="CreateItemResult" element="tns:CreateItemResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="DeleteItemSoapIn">
        <wsdl:part name="request" element="tns:DeleteItem"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="DeleteItemSoapOut">
        <wsdl:part name="DeleteItemResult" element="tns:DeleteItemResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="UpdateItemSoapIn">
        <wsdl:part name="request" element="tns:UpdateItem"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="UpdateItemSoapOut">
        <wsdl:part name="UpdateItemResult" element="tns:UpdateItemResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="SendItemSoapIn">
        <wsdl:part name="request" element="tns:SendItem"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="SendItemSoapOut">
        <wsdl:part name="SendItemResult" element="tns:SendItemResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="MoveItemSoapIn">
        <wsdl:part name="request" element="tns:MoveItem"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="MoveItemSoapOut">
        <wsdl:part name="MoveItemResult" element="tns:MoveItemResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="CopyItemSoapIn">
        <wsdl:part name="request" element="tns:CopyItem"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="CopyItemSoapOut">
        <wsdl:part name="CopyItemResult" element="tns:CopyItemResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="CreateAttachmentSoapIn">
        <wsdl:part name="request" element="tns:CreateAttachment"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="CreateAttachmentSoapOut">
        <wsdl:part name="CreateAttachmentResult" element="tns:CreateAttachmentResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="DeleteAttachmentSoapIn">
        <wsdl:part name="request" element="tns:DeleteAttachment"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="DeleteAttachmentSoapOut">
        <wsdl:part name="DeleteAttachmentResult" element="tns:DeleteAttachmentResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="GetAttachmentSoapIn">
        <wsdl:part name="request" element="tns:GetAttachment"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="GetAttachmentSoapOut">
        <wsdl:part name="GetAttachmentResult" element="tns:GetAttachmentResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="ResolveNamesSoapIn">
        <wsdl:part name="request" element="tns:ResolveNames"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="ResolveNamesSoapOut">
        <wsdl:part name="ResolveNamesResult" element="tns:ResolveNamesResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="ExpandDLSoapIn">
        <wsdl:part name="request" element="tns:ExpandDL"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="ExpandDLSoapOut">
        <wsdl:part name="ExpandDLResult" element="tns:ExpandDLResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="GetServerTimeZonesSoapIn">
        <wsdl:part name="request" element="tns:GetServerTimeZones"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="GetServerTimeZonesSoapOut">
        <wsdl:part name="GetServerTimeZonesResult" element="tns:GetServerTimeZonesResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="GetEventsSoapIn">
        <wsdl:part name="request" element="tns:GetEvents"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="GetEventsSoapOut">
        <wsdl:part name="GetEventsResult" element="tns:GetEventsResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="SubscribeSoapIn">
        <wsdl:part name="request" element="tns:Subscribe"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="SubscribeSoapOut">
        <wsdl:part name="SubscribeResult" element="tns:SubscribeResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="UnsubscribeSoapIn">
        <wsdl:part name="request" element="tns:Unsubscribe"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="UnsubscribeSoapOut">
        <wsdl:part name="UnsubscribeResult" element="tns:UnsubscribeResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="SendNotificationSoapIn">
        <wsdl:part name="request" element="tns:SendNotification"/>
    </wsdl:message>
    <wsdl:message name="SendNotificationSoapOut">
        <wsdl:part name="SendNotificationResult" element="tns:SendNotificationResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="SyncFolderHierarchySoapIn">
        <wsdl:part name="request" element="tns:SyncFolderHierarchy"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="SyncFolderHierarchySoapOut">
        <wsdl:part name="SyncFolderHierarchyResult" element="tns:SyncFolderHierarchyResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="SyncFolderItemsSoapIn">
        <wsdl:part name="request" element="tns:SyncFolderItems"/>
        <wsdl:part name="Impersonation" element="t:ExchangeImpersonation"/>
        <wsdl:part name="MailboxCulture" element="t:MailboxCulture"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="SyncFolderItemsSoapOut">
        <wsdl:part name="SyncFolderItemsResult" element="tns:SyncFolderItemsResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="ConvertIdSoapIn">
        <wsdl:part name="request" element="tns:ConvertId"/>
        <wsdl:part name="RequestVersion" element="t:RequestServerVersion"/>
    </wsdl:message>
    <wsdl:message name="ConvertIdSoapOut">
        <wsdl:part name="ConvertIdResult" element="tns:ConvertIdResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="GetUserAvailabilityRequest">
      <wsdl:part name="GetUserAvailabilityRequest" element="tns:GetUserAvailabilityRequest"/>
    </wsdl:message>
    <wsdl:message name="GetUserAvailabilityResponse">
      <wsdl:part name="GetUserAvailabilityResponse" element="tns:GetUserAvailabilityResponse"/>
    </wsdl:message>
    <wsdl:message name="GetUserOofSettingsRequest">
      <wsdl:part name="GetUserOofSettingsRequest" element="t:GetUserOofSettingsRequest"/>
    </wsdl:message>
    <wsdl:message name="GetUserOofSettingsResponse">
      <wsdl:part name="GetUserOofSettingsResponse" element="t:GetUserOofSettingsResponse"/>
    </wsdl:message>
    <wsdl:message name="SetUserOofSettingsRequest">
      <wsdl:part name="SetUserOofSettingsRequest" element="t:SetUserOofSettingsRequest"/>
    </wsdl:message>
    <wsdl:message name="SetUserOofSettingsResponse">
      <wsdl:part name="SetUserOofSettingsResponse" element="t:SetUserOofSettingsResponse"/>
    </wsdl:message>

    <wsdl:portType name="ExchangeServicePortType">
        <wsdl:operation name="FindFolder">
            <wsdl:documentation>Returns folders from the Exchange store.</wsdl:documentation>
            <wsdl:input message="tns:FindFolderSoapIn"/>
            <wsdl:output message="tns:FindFolderSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="FindItem">
            <wsdl:documentation>Returns items from the Exchange store.</wsdl:documentation>
            <wsdl:input message="tns:FindItemSoapIn"/>
            <wsdl:output message="tns:FindItemSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetFolder">
            <wsdl:documentation>Returns folders from the Exchange store.</wsdl:documentation>
            <wsdl:input message="tns:GetFolderSoapIn"/>
            <wsdl:output message="tns:GetFolderSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="CreateFolder">
            <wsdl:documentation>Creates folders on the Exchange store.</wsdl:documentation>
            <wsdl:input message="tns:CreateFolderSoapIn"/>
            <wsdl:output message="tns:CreateFolderSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteFolder">
            <wsdl:documentation>Deletes folders on the Exchange store.</wsdl:documentation>
            <wsdl:input message="tns:DeleteFolderSoapIn"/>
            <wsdl:output message="tns:DeleteFolderSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateFolder">
            <wsdl:documentation>Updates folders on the Exchange store.</wsdl:documentation>
            <wsdl:input message="tns:UpdateFolderSoapIn"/>
            <wsdl:output message="tns:UpdateFolderSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="MoveFolder">
            <wsdl:documentation>Moves folders on the Exchange store.</wsdl:documentation>
            <wsdl:input message="tns:MoveFolderSoapIn"/>
            <wsdl:output message="tns:MoveFolderSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="CopyFolder">
            <wsdl:documentation>Copies folders on the Exchange store.</wsdl:documentation>
            <wsdl:input message="tns:CopyFolderSoapIn"/>
            <wsdl:output message="tns:CopyFolderSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="CreateManagedFolder">
            <wsdl:documentation>Creates managed folders on the Exchange store.</wsdl:documentation>
            <wsdl:input message="tns:CreateManagedFolderSoapIn"/>
            <wsdl:output message="tns:CreateManagedFolderSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetItem">
            <wsdl:documentation>Returns items from the Exchange store.</wsdl:documentation>
            <wsdl:input message="tns:GetItemSoapIn"/>
            <wsdl:output message="tns:GetItemSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="CreateItem">
            <wsdl:documentation>Creates items on the Exchange store.</wsdl:documentation>
            <wsdl:input message="tns:CreateItemSoapIn"/>
            <wsdl:output message="tns:CreateItemSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteItem">
            <wsdl:documentation>Deletes items on the Exchange store.</wsdl:documentation>
            <wsdl:input message="tns:DeleteItemSoapIn"/>
            <wsdl:output message="tns:DeleteItemSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateItem">
            <wsdl:documentation>Updates items on the Exchange store.</wsdl:documentation>
            <wsdl:input message="tns:UpdateItemSoapIn"/>
            <wsdl:output message="tns:UpdateItemSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="SendItem">
            <wsdl:documentation>Sends items on the Exchange store.</wsdl:documentation>
            <wsdl:input message="tns:SendItemSoapIn"/>
            <wsdl:output message="tns:SendItemSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="MoveItem">
            <wsdl:documentation>Moves items on the Exchange store.</wsdl:documentation>
            <wsdl:input message="tns:MoveItemSoapIn"/>
            <wsdl:output message="tns:MoveItemSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="CopyItem">
            <wsdl:documentation>Copies items on the Exchange store.</wsdl:documentation>
            <wsdl:input message="tns:CopyItemSoapIn"/>
            <wsdl:output message="tns:CopyItemSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="CreateAttachment">
            <wsdl:documentation>Creates attachments on the Exchange store.</wsdl:documentation>
            <wsdl:input message="tns:CreateAttachmentSoapIn"/>
            <wsdl:output message="tns:CreateAttachmentSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteAttachment">
            <wsdl:documentation>Deletes attachments on the Exchange store.</wsdl:documentation>
            <wsdl:input message="tns:DeleteAttachmentSoapIn"/>
            <wsdl:output message="tns:DeleteAttachmentSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetAttachment">
            <wsdl:documentation>Gets attachments from the Exchange store.</wsdl:documentation>
            <wsdl:input message="tns:GetAttachmentSoapIn"/>
            <wsdl:output message="tns:GetAttachmentSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="ResolveNames">
            <wsdl:documentation>Resolves ambiguous names.</wsdl:documentation>
            <wsdl:input message="tns:ResolveNamesSoapIn"/>
            <wsdl:output message="tns:ResolveNamesSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="ExpandDL">
            <wsdl:documentation>Expands distribution lists.</wsdl:documentation>
            <wsdl:input message="tns:ExpandDLSoapIn"/>
            <wsdl:output message="tns:ExpandDLSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetServerTimeZones">
            <wsdl:documentation>Gets time zone definitions from the server.</wsdl:documentation>
            <wsdl:input message="tns:GetServerTimeZonesSoapIn"/>
            <wsdl:output message="tns:GetServerTimeZonesSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetEvents">
            <wsdl:documentation>Gets events from the Exchange store notification queue.</wsdl:documentation>
            <wsdl:input message="tns:GetEventsSoapIn"/>
            <wsdl:output message="tns:GetEventsSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="Subscribe">
            <wsdl:documentation>Subscribes to notifications on the Exchange store.</wsdl:documentation>
            <wsdl:input message="tns:SubscribeSoapIn"/>
            <wsdl:output message="tns:SubscribeSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="Unsubscribe">
            <wsdl:documentation>Unsubscribes from notifications on the Exchange store.</wsdl:documentation>
            <wsdl:input message="tns:UnsubscribeSoapIn"/>
            <wsdl:output message="tns:UnsubscribeSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="SendNotification">
            <wsdl:documentation>Sends notifications created by a client application.</wsdl:documentation>
            <wsdl:input message="tns:SendNotificationSoapIn"/>
            <wsdl:output message="tns:SendNotificationSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="SyncFolderHierarchy">
            <wsdl:documentation>Synchronizes folders.</wsdl:documentation>
            <wsdl:input message="tns:SyncFolderHierarchySoapIn"/>
            <wsdl:output message="tns:SyncFolderHierarchySoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="SyncFolderItems">
            <wsdl:documentation>Synchronizes items.</wsdl:documentation>
            <wsdl:input message="tns:SyncFolderItemsSoapIn"/>
            <wsdl:output message="tns:SyncFolderItemsSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="ConvertId">
            <wsdl:documentation>Converts identifiers from one format to another.</wsdl:documentation>
            <wsdl:input message="tns:ConvertIdSoapIn"/>
            <wsdl:output message="tns:ConvertIdSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetUserAvailability">
            <wsdl:documentation>Gets the free/busy information for a list of users.</wsdl:documentation>
            <wsdl:input message="tns:GetUserAvailabilityRequest"/>
            <wsdl:output message="tns:GetUserAvailabilityResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetUserOofSettings">
            <wsdl:documentation>Gets the Out of Office settings for a specific mailbox.</wsdl:documentation>
            <wsdl:input message="tns:GetUserOofSettingsRequest"/>
            <wsdl:output message="tns:GetUserOofSettingsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="SetUserOofSettings">
            <wsdl:documentation>Sets the Out of Office settings for a specific mailbox.</wsdl:documentation>
            <wsdl:input message="tns:SetUserOofSettingsRequest"/>
            <wsdl:output message="tns:SetUserOofSettingsResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ExchangeServiceBinding" type="tns:ExchangeServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="FindFolder">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/FindFolder"/>
            <wsdl:input>
                <soap:header message="tns:FindFolderSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:FindFolderSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:FindFolderSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:FindFolderSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="FindFolderResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="FindItem">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/FindItem"/>
            <wsdl:input>
                <soap:header message="tns:FindItemSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:FindItemSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:FindItemSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:FindItemSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="FindItemResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetFolder">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetFolder"/>
            <wsdl:input>
                <soap:header message="tns:GetFolderSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:GetFolderSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:GetFolderSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:GetFolderSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="GetFolderResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateFolder">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/CreateFolder"/>
            <wsdl:input>
                <soap:header message="tns:CreateFolderSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:CreateFolderSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:CreateFolderSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:CreateFolderSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="CreateFolderResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteFolder">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/DeleteFolder"/>
            <wsdl:input>
                <soap:header message="tns:DeleteFolderSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:DeleteFolderSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:DeleteFolderSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:DeleteFolderSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="DeleteFolderResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateFolder">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/UpdateFolder"/>
            <wsdl:input>
                <soap:header message="tns:UpdateFolderSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:UpdateFolderSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:UpdateFolderSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:UpdateFolderSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="UpdateFolderResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MoveFolder">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/MoveFolder"/>
            <wsdl:input>
                <soap:header message="tns:MoveFolderSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:MoveFolderSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:MoveFolderSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:MoveFolderSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="MoveFolderResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CopyFolder">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/CopyFolder"/>
            <wsdl:input>
                <soap:header message="tns:CopyFolderSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:CopyFolderSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:CopyFolderSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:CopyFolderSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="CopyFolderResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateManagedFolder">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/CreateManagedFolder"/>
            <wsdl:input>
                <soap:header message="tns:CreateManagedFolderSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:CreateManagedFolderSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:CreateManagedFolderSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:CreateManagedFolderSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="CreateManagedFolderResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetItem">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetItem"/>
            <wsdl:input>
                <soap:header message="tns:GetItemSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:GetItemSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:GetItemSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:GetItemSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="GetItemResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateItem">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/CreateItem"/>
            <wsdl:input>
                <soap:header message="tns:CreateItemSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:CreateItemSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:CreateItemSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:CreateItemSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="CreateItemResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteItem">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/DeleteItem"/>
            <wsdl:input>
                <soap:header message="tns:DeleteItemSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:DeleteItemSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:DeleteItemSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:DeleteItemSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="DeleteItemResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateItem">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/UpdateItem"/>
            <wsdl:input>
                <soap:header message="tns:UpdateItemSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:UpdateItemSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:UpdateItemSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:UpdateItemSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="UpdateItemResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SendItem">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/SendItem"/>
            <wsdl:input>
                <soap:header message="tns:SendItemSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:SendItemSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:SendItemSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:SendItemSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="SendItemResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MoveItem">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/MoveItem"/>
            <wsdl:input>
                <soap:header message="tns:MoveItemSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:MoveItemSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:MoveItemSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:MoveItemSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="MoveItemResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CopyItem">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/CopyItem"/>
            <wsdl:input>
                <soap:header message="tns:CopyItemSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:CopyItemSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:CopyItemSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:CopyItemSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="CopyItemResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateAttachment">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/CreateAttachment"/>
            <wsdl:input>
                <soap:header message="tns:CreateAttachmentSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:CreateAttachmentSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:CreateAttachmentSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:CreateAttachmentSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="CreateAttachmentResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteAttachment">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/DeleteAttachment"/>
            <wsdl:input>
                <soap:header message="tns:DeleteAttachmentSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:DeleteAttachmentSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:DeleteAttachmentSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:DeleteAttachmentSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="DeleteAttachmentResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAttachment">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetAttachment"/>
            <wsdl:input>
                <soap:header message="tns:GetAttachmentSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:GetAttachmentSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:GetAttachmentSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:GetAttachmentSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="GetAttachmentResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ResolveNames">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/ResolveNames"/>
            <wsdl:input>
                <soap:header message="tns:ResolveNamesSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:ResolveNamesSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:ResolveNamesSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:ResolveNamesSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="ResolveNamesResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ExpandDL">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/ExpandDL"/>
            <wsdl:input>
                <soap:header message="tns:ExpandDLSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:ExpandDLSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:ExpandDLSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:ExpandDLSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="ExpandDLResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetServerTimeZones">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetServerTimeZones"/>
            <wsdl:input>
                <soap:header message="tns:GetServerTimeZonesSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:GetServerTimeZonesSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="GetServerTimeZonesResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetEvents">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetEvents"/>
            <wsdl:input>
                <soap:header message="tns:GetEventsSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:GetEventsSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:GetEventsSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="GetEventsResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Subscribe">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/Subscribe"/>
            <wsdl:input>
                <soap:header message="tns:SubscribeSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:SubscribeSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:SubscribeSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:SubscribeSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="SubscribeResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Unsubscribe">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/Unsubscribe"/>
            <wsdl:input>
                <soap:header message="tns:UnsubscribeSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:UnsubscribeSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:UnsubscribeSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="UnsubscribeResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SendNotification">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/SendNotification"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:SendNotificationSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="SendNotificationResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SyncFolderHierarchy">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/SyncFolderHierarchy"/>
            <wsdl:input>
                <soap:header message="tns:SyncFolderHierarchySoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:SyncFolderHierarchySoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:SyncFolderHierarchySoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:SyncFolderHierarchySoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="SyncFolderHierarchyResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SyncFolderItems">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/SyncFolderItems"/>
            <wsdl:input>
                <soap:header message="tns:SyncFolderItemsSoapIn" part="Impersonation" use="literal"/>
                <soap:header message="tns:SyncFolderItemsSoapIn" part="MailboxCulture" use="literal"/>
                <soap:header message="tns:SyncFolderItemsSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:SyncFolderItemsSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="SyncFolderItemsResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConvertId">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/ConvertId"/>
            <wsdl:input>
                <soap:header message="tns:ConvertIdSoapIn" part="RequestVersion" use="literal"/>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:ConvertIdSoapOut" part="ServerVersion" use="literal"/>
                <soap:body parts="ConvertIdResult" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetUserAvailability">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetUserAvailability"/>
            <wsdl:input>
                <soap:body use="literal" parts="GetUserAvailabilityRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="GetUserAvailabilityResponse"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetUserOofSettings">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetUserOofSettings"/>
            <wsdl:input>
                <soap:body use="literal" parts="GetUserOofSettingsRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="GetUserOofSettingsResponse"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SetUserOofSettings">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/SetUserOofSettings"/>
            <wsdl:input>
                <soap:body use="literal" parts="SetUserOofSettingsRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="SetUserOofSettingsResponse"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ExchangeServices">
        <wsdl:port name="ExchangeServicePort" binding="tns:ExchangeServiceBinding">
            <soap:address location="https://localhost/EWS/Exchange.asmx"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>