backend/wsdl/messages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:m="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="types.xsd" namespace="http://schemas.microsoft.com/exchange/services/2006/types" />
  <xs:complexType name="BaseResponseMessageType" /> <!-- Define if not already defined -->
  <xs:complexType name="ResponseType" /> <!-- Placeholder -->
  <xs:complexType name="ResponseMessageType">
     <xs:complexContent mixed="false">
         <xs:extension base="m:BaseResponseMessageType"/>
     </xs:complexContent>
  </xs:complexType>

  <!-- Request and Response element definitions -->
  <xs:element name="FindFolder" type="t:FindFolderType" />
  <xs:element name="FindFolderResponse" type="m:FindFolderResponseType" />
  <xs:complexType name="FindFolderResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="m:BaseResponseMessageType" />
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="FindItem" type="t:FindItemType" />
  <xs:element name="FindItemResponse" type="m:FindItemResponseType" />
  <xs:complexType name="FindItemResponseType">
      <xs:complexContent mixed="false">
          <xs:extension base="m:BaseResponseMessageType"/>
          <!-- Add specific FindItem response elements here -->
      </xs:complexContent>
  </xs:complexType>

  <xs:element name="GetFolder" type="t:GetFolderType" />
  <xs:element name="GetFolderResponse" type="m:GetFolderResponseType" />
  <xs:complexType name="GetFolderResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="m:BaseResponseMessageType" />
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="CreateFolder" type="t:CreateFolderType" />
  <xs:element name="CreateFolderResponse" type="m:FolderInfoResponseMessageType" />

  <xs:element name="DeleteFolder" type="t:DeleteFolderType" />
  <xs:element name="DeleteFolderResponse" type="m:ResponseMessageType" />

  <xs:element name="UpdateFolder" type="t:UpdateFolderType" />
  <xs:element name="UpdateFolderResponse" type="m:FolderInfoResponseMessageType" />

  <xs:element name="MoveFolder" type="t:MoveFolderType" />
  <xs:element name="MoveFolderResponse" type="m:FolderInfoResponseMessageType" />

  <xs:element name="CopyFolder" type="t:CopyFolderType" />
  <xs:element name="CopyFolderResponse" type="m:FolderInfoResponseMessageType" />

  <xs:element name="CreateManagedFolder" type="t:CreateManagedFolderRequestType"/>
  <xs:element name="CreateManagedFolderResponse" type="m:FolderInfoResponseMessageType"/>


  <xs:element name="GetItem" type="t:GetItemType" />
  <xs:element name="GetItemResponse" type="m:ItemInfoResponseMessageType" />

  <xs:element name="CreateItem" type="t:CreateItemType" />
  <xs:element name="CreateItemResponse" type="m:ItemInfoResponseMessageType" />

  <xs:element name="DeleteItem" type="t:DeleteItemType" />
  <xs:element name="DeleteItemResponse" type="m:ResponseMessageType" />

  <xs:element name="UpdateItem" type="t:UpdateItemType" />
  <xs:element name="UpdateItemResponse" type="m:UpdateItemResponseMessageType" />

  <xs:element name="SendItem" type="t:SendItemType" />
  <xs:element name="SendItemResponse" type="m:ResponseMessageType" />

  <xs:element name="MoveItem" type="t:MoveItemType" />
  <xs:element name="MoveItemResponse" type="m:ItemInfoResponseMessageType" />

  <xs:element name="CopyItem" type="t:CopyItemType" />
  <xs:element name="CopyItemResponse" type="m:ItemInfoResponseMessageType" />

  <xs:element name="CreateAttachment" type="t:CreateAttachmentType" />
  <xs:element name="CreateAttachmentResponse" type="m:AttachmentInfoResponseMessageType" />

  <xs:element name="DeleteAttachment" type="t:DeleteAttachmentType" />
  <xs:element name="DeleteAttachmentResponse" type="m:DeleteAttachmentResponseMessageType" />

  <xs:element name="GetAttachment" type="t:GetAttachmentType" />
  <xs:element name="GetAttachmentResponse" type="m:AttachmentInfoResponseMessageType" />

  <xs:element name="ResolveNames" type="t:ResolveNamesType"/>
  <xs:element name="ResolveNamesResponse" type="m:ResolveNamesResponseMessageType"/>
  <xs:complexType name="ResolveNamesResponseMessageType">
      <xs:complexContent mixed="false">
          <xs:extension base="m:ResponseMessageType"/>
          <!-- Add specific ResolveNames response elements -->
      </xs:complexContent>
  </xs:complexType>

  <xs:element name="ExpandDL" type="t:ExpandDLType"/>
  <xs:element name="ExpandDLResponse" type="m:ExpandDLResponseMessageType"/>
   <xs:complexType name="ExpandDLResponseMessageType">
       <xs:complexContent mixed="false">
           <xs:extension base="m:ResponseMessageType"/>
           <!-- Add specific ExpandDL response elements -->
       </xs:complexContent>
   </xs:complexType>

  <xs:element name="GetServerTimeZones" type="t:GetServerTimeZonesType"/>
  <xs:element name="GetServerTimeZonesResponse" type="m:GetServerTimeZonesResponseMessageType"/>
  <xs:complexType name="GetServerTimeZonesResponseMessageType">
       <xs:complexContent mixed="false">
           <xs:extension base="m:ResponseMessageType"/>
           <!-- Add specific GetServerTimeZones response elements -->
       </xs:complexContent>
   </xs:complexType>

  <xs:element name="GetEvents" type="t:GetEventsType"/>
  <xs:element name="GetEventsResponse" type="m:GetEventsResponseMessageType"/>
   <xs:complexType name="GetEventsResponseMessageType">
       <xs:complexContent mixed="false">
           <xs:extension base="m:ResponseMessageType"/>
           <!-- Add specific GetEvents response elements -->
       </xs:complexContent>
   </xs:complexType>

  <xs:element name="Subscribe" type="t:SubscribeType"/>
  <xs:element name="SubscribeResponse" type="m:SubscribeResponseMessageType"/>
   <xs:complexType name="SubscribeResponseMessageType">
       <xs:complexContent mixed="false">
           <xs:extension base="m:ResponseMessageType"/>
           <!-- Add specific Subscribe response elements -->
       </xs:complexContent>
   </xs:complexType>

  <xs:element name="Unsubscribe" type="t:UnsubscribeType"/>
  <xs:element name="UnsubscribeResponse" type="m:ResponseMessageType"/>

  <xs:element name="SendNotification" type="m:SendNotificationResponseType"/> <!-- Assuming this is correct based on WSDL -->
  <xs:element name="SendNotificationResponse" type="m:SendNotificationResponseMessageType"/>
   <xs:complexType name="SendNotificationResponseMessageType">
       <xs:complexContent mixed="false">
           <xs:extension base="m:BaseResponseMessageType"/> <!-- Note: BaseResponseMessageType -->
           <!-- Add specific SendNotification response elements -->
       </xs:complexContent>
   </xs:complexType>


  <xs:element name="SyncFolderHierarchy" type="t:SyncFolderHierarchyType"/>
  <xs:element name="SyncFolderHierarchyResponse" type="m:SyncFolderHierarchyResponseMessageType"/>
   <xs:complexType name="SyncFolderHierarchyResponseMessageType">
       <xs:complexContent mixed="false">
           <xs:extension base="m:ResponseMessageType"/>
           <!-- Add specific SyncFolderHierarchy response elements -->
       </xs:complexContent>
   </xs:complexType>

  <xs:element name="SyncFolderItems" type="t:SyncFolderItemsType"/>
  <xs:element name="SyncFolderItemsResponse" type="m:SyncFolderItemsResponseMessageType"/>
   <xs:complexType name="SyncFolderItemsResponseMessageType">
       <xs:complexContent mixed="false">
           <xs:extension base="m:ResponseMessageType"/>
           <!-- Add specific SyncFolderItems response elements -->
       </xs:complexContent>
   </xs:complexType>

  <xs:element name="ConvertId" type="t:ConvertIdType"/>
  <xs:element name="ConvertIdResponse" type="m:ConvertIdResponseMessageType"/>
  <xs:complexType name="ConvertIdResponseMessageType">
     <xs:complexContent mixed="false">
       <xs:extension base="m:ResponseMessageType"/>
       <!-- Add specific ConvertId response elements -->
     </xs:complexContent>
  </xs:complexType>

  <!-- Added for GetUserAvailability -->
  <xs:element name="GetUserAvailabilityRequest" type="m:GetUserAvailabilityRequestType"/>
  <xs:element name="GetUserAvailabilityResponse" type="m:GetUserAvailabilityResponseType"/>
  <xs:complexType name="GetUserAvailabilityRequestType">
    <xs:sequence>
      <xs:element ref="t:TimeZone"/>
      <xs:element name="MailboxDataArray" type="t:ArrayOfMailboxData"/>
      <xs:element name="FreeBusyViewOptions" type="t:FreeBusyViewOptionsType" minOccurs="0"/>
      <xs:element name="SuggestionsViewOptions" type="t:SuggestionsViewOptionsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
   <xs:complexType name="GetUserAvailabilityResponseType">
      <xs:sequence>
          <xs:element name="FreeBusyResponseArray" type="m:ArrayOfFreeBusyResponse" minOccurs="0"/>
          <xs:element name="SuggestionsResponse" type="m:SuggestionsResponseType" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ArrayOfFreeBusyResponse">
       <xs:sequence>
           <xs:element name="FreeBusyResponse" type="m:FreeBusyResponseType" minOccurs="0" maxOccurs="unbounded"/>
       </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FreeBusyResponseType">
       <xs:sequence>
           <xs:element name="ResponseMessage" type="t:ResponseMessageType"/>
           <xs:element name="FreeBusyView" type="t:FreeBusyView" minOccurs="0"/>
       </xs:sequence>
   </xs:complexType>
    <xs:complexType name="SuggestionsResponseType">
        <xs:sequence>
            <xs:element name="ResponseMessage" type="t:ResponseMessageType"/>
            <xs:element name="SuggestionDayResultArray" type="t:ArrayOfSuggestionDayResult" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Placeholder definitions for types used in GetUserAvailability -->
    <xs:element name="TimeZone" type="xs:string"/> <!-- Simplified placeholder -->
    <xs:complexType name="ArrayOfMailboxData"/> <!-- Simplified placeholder -->
    <xs:complexType name="FreeBusyViewOptionsType"/> <!-- Simplified placeholder -->
    <xs:complexType name="SuggestionsViewOptionsType"/> <!-- Simplified placeholder -->
    <xs:complexType name="FreeBusyView"/> <!-- Simplified placeholder -->
    <xs:complexType name="ArrayOfSuggestionDayResult"/> <!-- Simplified placeholder -->


  <!-- Common Response Message Types -->
  <xs:complexType name="ResponseMessageType" />
  <xs:complexType name="ItemInfoResponseMessageType">
    <xs:complexContent mixed="false">
      <xs:extension base="m:ResponseMessageType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FolderInfoResponseMessageType">
    <xs:complexContent mixed="false">
      <xs:extension base="m:ResponseMessageType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AttachmentInfoResponseMessageType">
    <xs:complexContent mixed="false">
      <xs:extension base="m:ResponseMessageType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeleteAttachmentResponseMessageType">
    <xs:complexContent mixed="false">
      <xs:extension base="m:ResponseMessageType" />
    </xs:complexContent>
  </xs:complexType>
   <xs:complexType name="UpdateItemResponseMessageType">
       <xs:complexContent mixed="false">
           <xs:extension base="m:ItemInfoResponseMessageType"/>
           <!-- Add specific UpdateItem response elements -->
       </xs:complexContent>
   </xs:complexType>

</xs:schema>