backend/wsdl/types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/exchange/services/2006/types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- All the complex types and simple types definitions go here -->
  <!-- This is a very large file in reality. For node-ews, often a minimal structure might suffice, -->
  <!-- but it's safer to include the common ones. -->
  <!-- Due to length limitations, I cannot provide the full content here. -->
  <!-- However, node-ews often bundles these files. -->
  <!-- Let's create placeholder files first to see if the error changes. -->
  <!-- If the library *really* needs full schemas, we'll address that. -->

  <!-- Placeholder complexType definitions referenced in messages.xsd -->
  <xs:complexType name="BaseRequestType" abstract="true" />
  <xs:complexType name="BaseResponseMessageType" />
  <xs:complexType name="FindFolderType">
    <xs:complexContent mixed="false">
      <xs:extension base="t:BaseRequestType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FindItemType">
    <xs:complexContent mixed="false">
      <xs:extension base="t:BaseRequestType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetFolderType">
    <xs:complexContent mixed="false">
      <xs:extension base="t:BaseRequestType" />
    </xs:complexContent>
  </xs:complexType>
   <xs:complexType name="CreateFolderType">
    <xs:complexContent mixed="false">
      <xs:extension base="t:BaseRequestType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeleteFolderType">
    <xs:complexContent mixed="false">
      <xs:extension base="t:BaseRequestType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UpdateFolderType">
    <xs:complexContent mixed="false">
      <xs:extension base="t:BaseRequestType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MoveFolderType">
    <xs:complexContent mixed="false">
      <xs:extension base="t:BaseRequestType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CopyFolderType">
    <xs:complexContent mixed="false">
      <xs:extension base="t:BaseRequestType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CreateManagedFolderRequestType">
      <xs:complexContent mixed="false">
          <xs:extension base="t:BaseRequestType"/>
      </xs:complexContent>
  </xs:complexType>
   <xs:complexType name="GetItemType">
    <xs:complexContent mixed="false">
      <xs:extension base="t:BaseRequestType" />
    </xs:complexContent>
  </xs:complexType>
   <xs:complexType name="CreateItemType">
    <xs:complexContent mixed="false">
      <xs:extension base="t:BaseRequestType" />
    </xs:complexContent>
  </xs:complexType>
   <xs:complexType name="DeleteItemType">
    <xs:complexContent mixed="false">
      <xs:extension base="t:BaseRequestType" />
    </xs:complexContent>
  </xs:complexType>
   <xs:complexType name="UpdateItemType">
    <xs:complexContent mixed="false">
      <xs:extension base="t:BaseRequestType" />
    </xs:complexContent>
  </xs:complexType>
   <xs:complexType name="SendItemType">
    <xs:complexContent mixed="false">
      <xs:extension base="t:BaseRequestType" />
    </xs:complexContent>
  </xs:complexType>
   <xs:complexType name="MoveItemType">
    <xs:complexContent mixed="false">
      <xs:extension base="t:BaseRequestType" />
    </xs:complexContent>
  </xs:complexType>
   <xs:complexType name="CopyItemType">
    <xs:complexContent mixed="false">
      <xs:extension base="t:BaseRequestType" />
    </xs:complexContent>
  </xs:complexType>
   <xs:complexType name="CreateAttachmentType">
    <xs:complexContent mixed="false">
      <xs:extension base="t:BaseRequestType" />
    </xs:complexContent>
  </xs:complexType>
   <xs:complexType name="DeleteAttachmentType">
    <xs:complexContent mixed="false">
      <xs:extension base="t:BaseRequestType" />
    </xs:complexContent>
  </xs:complexType>
   <xs:complexType name="GetAttachmentType">
    <xs:complexContent mixed="false">
      <xs:extension base="t:BaseRequestType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResolveNamesType">
     <xs:complexContent mixed="false">
       <xs:extension base="t:BaseRequestType"/>
     </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExpandDLType">
     <xs:complexContent mixed="false">
       <xs:extension base="t:BaseRequestType"/>
     </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetServerTimeZonesType">
      <xs:complexContent mixed="false">
          <xs:extension base="t:BaseRequestType"/>
      </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetEventsType">
     <xs:complexContent mixed="false">
       <xs:extension base="t:BaseRequestType"/>
     </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubscribeType">
     <xs:complexContent mixed="false">
       <xs:extension base="t:BaseRequestType"/>
     </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UnsubscribeType">
     <xs:complexContent mixed="false">
       <xs:extension base="t:BaseRequestType"/>
     </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SendNotificationResponseType" />
  <xs:complexType name="SyncFolderHierarchyType">
     <xs:complexContent mixed="false">
       <xs:extension base="t:BaseRequestType"/>
     </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SyncFolderItemsType">
     <xs:complexContent mixed="false">
       <xs:extension base="t:BaseRequestType"/>
     </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConvertIdType">
     <xs:complexContent mixed="false">
       <xs:extension base="t:BaseRequestType"/>
     </xs:complexContent>
  </xs:complexType>

  <!-- Element definitions referenced in messages.xsd -->
  <xs:element name="MailboxCulture" type="xs:string" />
  <xs:element name="RequestServerVersion">
    <xs:complexType>
      <xs:attribute name="Version" type="t:ExchangeVersionType" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerVersionInfo">
    <xs:complexType>
      <xs:attribute name="MajorVersion" type="xs:int" use="optional" />
      <xs:attribute name="MinorVersion" type="xs:int" use="optional" />
      <xs:attribute name="MajorBuildNumber" type="xs:int" use="optional" />
      <xs:attribute name="MinorBuildNumber" type="xs:int" use="optional" />
      <xs:attribute name="Version" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExchangeImpersonation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ConnectingSID" type="t:ConnectingSIDType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ConnectingSIDType">
    <xs:choice>
      <xs:element name="PrincipalName" type="xs:string"/>
      <xs:element name="SID" type="xs:string"/>
      <xs:element name="PrimarySmtpAddress" type="xs:string"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="GetUserOofSettingsRequest">
      <xs:complexType>
          <xs:sequence>
              <xs:element name="Mailbox" type="t:EmailAddressType"/>
          </xs:sequence>
      </xs:complexType>
  </xs:element>
  <xs:element name="GetUserOofSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ResponseMessage" type="t:ResponseMessageType" />
        <xs:element name="OofSettings" type="t:UserOofSettings" minOccurs="0"/>
        <xs:element name="AllowExternalOof" type="t:ExternalAudience" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
   <xs:element name="SetUserOofSettingsRequest">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Mailbox" type="t:EmailAddressType"/>
            <xs:element name="UserOofSettings" type="t:UserOofSettings"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="SetUserOofSettingsResponse">
       <xs:complexType>
           <xs:sequence>
               <xs:element name="ResponseMessage" type="t:ResponseMessageType"/>
           </xs:sequence>
       </xs:complexType>
   </xs:element>

   <!-- Common Simple & Complex Types -->
   <xs:complexType name="EmailAddressType">
      <xs:sequence>
          <xs:element name="Name" type="xs:string" minOccurs="0"/>
          <xs:element name="EmailAddress" type="xs:string" minOccurs="0"/>
          <xs:element name="RoutingType" type="xs:string" minOccurs="0"/>
          <xs:element name="MailboxType" type="t:MailboxTypeType" minOccurs="0"/>
          <xs:element name="ItemId" type="t:ItemIdType" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
    <xs:complexType name="ResponseMessageType">
        <xs:attribute name="ResponseClass" type="t:ResponseClassType" use="required"/>
        <xs:sequence>
            <xs:element name="MessageText" type="xs:string" minOccurs="0"/>
            <xs:element name="ResponseCode" type="t:ResponseCodeType" minOccurs="0"/>
            <xs:element name="DescriptiveLinkKey" type="xs:int" minOccurs="0"/>
            <xs:element name="MessageXml" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                    </xs:sequence>
                    <xs:anyAttribute processContents="lax"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UserOofSettings">
        <xs:sequence>
            <xs:element name="OofState" type="t:OofState"/>
            <xs:element name="ExternalAudience" type="t:ExternalAudience"/>
            <xs:element name="Duration" type="t:Duration" minOccurs="0"/>
            <xs:element name="InternalReply" type="t:ReplyBody" minOccurs="0"/>
            <xs:element name="ExternalReply" type="t:ReplyBody" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
     <xs:complexType name="Duration">
         <xs:sequence>
             <xs:element name="StartTime" type="xs:dateTime"/>
             <xs:element name="EndTime" type="xs:dateTime"/>
         </xs:sequence>
     </xs:complexType>
     <xs:complexType name="ReplyBody">
         <xs:sequence>
             <xs:element name="Message" type="xs:string" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="lang" type="xs:language" use="optional"/>
     </xs:complexType>
     <xs:complexType name="ItemIdType">
        <xs:attribute name="Id" type="xs:string" use="required"/>
        <xs:attribute name="ChangeKey" type="xs:string" use="optional"/>
     </xs:complexType>


     <!-- Simple Types -->
     <xs:simpleType name="ExternalAudience">
         <xs:restriction base="xs:string">
             <xs:enumeration value="None"/>
             <xs:enumeration value="Known"/>
             <xs:enumeration value="All"/>
         </xs:restriction>
     </xs:simpleType>
     <xs:simpleType name="OofState">
         <xs:restriction base="xs:string">
             <xs:enumeration value="Disabled"/>
             <xs:enumeration value="Enabled"/>
             <xs:enumeration value="Scheduled"/>
         </xs:restriction>
     </xs:simpleType>
    <xs:simpleType name="MailboxTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Mailbox"/>
            <xs:enumeration value="PublicDL"/>
            <xs:enumeration value="PrivateDL"/>
            <xs:enumeration value="Contact"/>
            <xs:enumeration value="PublicFolder"/>
            <xs:enumeration value="Unknown"/>
            <xs:enumeration value="OneOff"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ResponseClassType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Success"/>
            <xs:enumeration value="Warning"/>
            <xs:enumeration value="Error"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ResponseCodeType">
        <xs:restriction base="xs:string"/>
        <!-- Many possible response codes omitted for brevity -->
    </xs:simpleType>
    <xs:simpleType name="ExchangeVersionType">
      <xs:restriction base="xs:string">
        <xs:enumeration value="Exchange2007"/>
        <xs:enumeration value="Exchange2007_SP1"/>
        <xs:enumeration value="Exchange2010"/>
        <xs:enumeration value="Exchange2010_SP1"/>
        <xs:enumeration value="Exchange2010_SP2"/>
        <xs:enumeration value="Exchange2013"/>
        <xs:enumeration value="Exchange2013_SP1"/>
      </xs:restriction>
    </xs:simpleType>

</xs:schema>